<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>GOOGLE_CLIENT_ID</string>
	<key>GITHUB_CLIENT_ID</key>
	<string>GITHUB_CLIENT_ID</string>
	<key>GITHUB_CLIENT_SECRET</key>
	<string>GITHUB_CLIENT_SECRET</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>github-oauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>zadanie5</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google-oauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>DOT_REVERSED_GOOGLE_CLIENT_ID</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
