# Xcode
*.xcuserstate
*.xcuserdatad/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Server
server/node_modules/
server/bun.lock
